.App {
  text-align: center;
}

.Splash {
  background-image: url('./assets/bg-home.png') ;
  background-color: #3D9A98;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Explore {
  background-image: url('./assets/bg-home.png') ;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  width: 100%;
  min-height: 60vh;
}

#scrypta-login-wrapper {
  z-index: 9999;
}

#scrypta-login-contents {
  padding: 16vh 60px !important;
}

#scrypta-login-contents p{
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

p, ul, li{
  text-align:left;
  font-size:14px;
}

ul > li{
  list-style-type: circle;
}

pre{
  width: 50%;
  height:auto;
  margin-bottom:30px;
  border-radius:5px;
}
.field{
  width: 50%!important;
}

.App-header {
  background: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}